<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!!!!{% endblock %}</title>
        {% block stylesheets %}
         <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css" >
         <link rel="stylesheet" href="./css/style.css">
         
         {% endblock %}
    </head>
    <body>
{# :: elemnt qui ne bouge jamais on les mais en dehors du block :: #}
<header style="mon header">
</header>
 <nav class="navbar navbar-expand-lg navbar-info bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button"
         data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false"
           aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("homepage") }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("page_one") }}">pageOne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("page_Two") }}">pageTwo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("page_Three") }}">pageThree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("page_Four") }}">pageFour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("hero",{"name":"batman" , "age":38}) }}">hero</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("variable") }}">demo-de-variable</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path("req") }}">object-request</a>
                </li>
            </ul>
        </div>
    </nav>




        {% block body %}
        <h1> welcome</h1>
        {% endblock %}



        {% block javascripts %}{% endblock %}
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
     integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>



   
    